@import './movie-view.css';
@import './book-movie-form.css';

html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.movie-buzz {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(236, 232, 232);
    position: relative;
}

.movie-buzz .movie-buzz-result-base {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.movie-buzz .movie-buzz-result-base .movie-card {
    width: 220px;
    height: 375px;
    margin: 5px 5px 0px 5px;
    list-style: none;
}

.movie-buzz .movie-buzz-result-base .dummy-movie-card {
    width: 220px;
    height: 0px;
    margin: 5px 5px 0px 5px;
    list-style: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .movie-buzz .movie-buzz-result-base .movie-card {
        width: 100%;
        height: 375px;
        margin: 5px 5px 0px 5px;
        list-style: none;
    }
}

.movie-buzz .movie-buzz-result-base .movie-card .card {
    padding: 0;
    background-color: rgba(225, 235, 227, 0.89);
}

.movie-buzz .movie-buzz-result-base .movie-card .card .movie-image {
    width: 100%;
    height: 280px;
    padding: 3px 3px 0px 3px;
    position: relative;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .movie-image img {
    width: 100%;
    height: 100%;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .movie-image .movie-rating {
    padding-left: 3px;
    bottom: 5px;
    left: 10px;
    position: absolute;
    font-size: 13px;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .movie-image .movie-rating .movie-rating-icon {
    font-size: 18px;
    color: goldenrod;
    vertical-align: text-bottom;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .card-body {
    padding: 5px;
    text-align: left;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .card-body .card-title {
    margin-bottom: 0;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .card-body .movie-language {
    width: 100%;
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 18px;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .card-body .movie-genre-badge {
    margin-bottom: 0;
    margin: 0px 2px 0px 2px;
    text-align: center;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-buzz .movie-buzz-result-base .movie-card .card .card-body .movie-genre-badge .badge {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 2px;
}